.container
    {
        display:flex;
        flex-direction: column;
        width: 500px;
        height: 500px;
        border: 1px solid black;
    }


.row 
    {
        display:flex;
        flex:auto;
    }

.column
    {
        display:flex;
        flex:auto;
        background-color:black;
    }